*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    margin: 0;
    padding: 0;
}

.title-container {
    margin: 5px auto 30px;
    width: 500px;
}

#title {
    margin: 0 auto;
    font-size: 46px;
    text-align: center;
    color: white;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.container {
    margin: 25px auto 0px;
    padding-top: 25px;
    background: #d34f4f;
    height: 450px;
    width: 500px;
    border-radius: 15px 15px;
    box-shadow: 0px 10px 6px -6px rgba(0, 0, 0, 0.4);
}

.interval-container {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    margin-bottom: 50px;
}

.interval-container button {
    background: white;
    font-size: 16px;
    height: 50px;
    width: 125px;
    color: #963737;
    border-radius: 5px 5px;
    font-family: 'Nunito Sans', sans-serif;
    border: 5px outset #d34f4f;
}

.interval-container button:hover {
    cursor: pointer;
}

.interval-container button:active {
    border: 5px inset #d34f4f;
}

.countdown-container {
    background: white;
    margin: 50px auto 50px;
    width: 250px;
    border: 5px inset #d34f4f;
}

#countdown {
    margin: auto;
    color: #963737;
    font-size: 48px;
    text-align: center;
}

.control-container {
    margin: 25px auto 0;
    display: flex;
    height: 60px;
    width: 240px;
    align-items: center;
    justify-content: center;
}

.control-container button {
    background: white;
    border-radius: 5px 5px;
    height: 100%;
    width: 100%;
    border: 5px outset #d34f4f; 
    font-size: 16px;
    color: #963737;
    font-family: 'Nunito Sans', sans-serif;
}

.control-container button:hover {
    cursor: pointer;
}

.control-container button:active {
    border: 5px inset #d34f4f;
}

#theme {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
}

#theme i {
    font-size: 30px;
}

#theme i:hover {
    cursor: pointer;
}